__pycache__/
*.pyc
.idea/
.pytest_cache/
.mypy_cache/
venv/
.ipynb_checkpoints/

configurations/default.json
configurations/temp.json
configurations/Configuration.json
configurations/local_*

naturalnets/configurations/temp-config.json

checkpoints
videos

benchmarks/

temp*.json
temp*.py
test.py
nohup.out
checkpoint*.pkl

.dmypy.json
.lock
dask-worker-space/
/MUJOCO_LOG.TXT

*.latex
*.tex
/configurations/exp_design_space.json
mprofile_*.dat

# Simulation Plots
Simulation_Results/*/*.svg

# Whitelist files with 'test' in their name but only in tests/ folder
!tests/test*.py

# CSV for displaying results
*.csv
.~lock*.csv#
spreadsheets/


## VS Code part starts here

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
#!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
